In [ ]:
#______________load labs
import numpy as np
import pandas as pd
import  matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("C:\\Users\\Rizwan\\Desktop\\train.csv")

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
ks=df.shape
ks

# checkt null values

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum().sum()

# to show total columns and rows

In [ ]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

# check info

In [ ]:
df.info()

# show in chart

In [ ]:
plt.figure(figsize=(16,9))
sns.heatmap(df.isnull())

colors diffr shows missing values columns

# taking % of null_vals

In [ ]:
null_var=df.isnull().sum()/df.shape[0]*100
null_var

# drop_missing clm >15%

In [ ]:
drop_clm=null_var[null_var>15].keys()

drop_clm

In [ ]:
df2_drop_clm=df.drop(columns=drop_clm,axis=1)
print(df.shape)#missing val data shape
df2_drop_clm.shape#after removing

# again check in  chart

In [ ]:
sns.heatmap(df2_drop_clm.isnull())

In [ ]:
df2_drop_clm.isnull().sum()

# drop val about rows

In [ ]:
df3_drop_rows=df2_drop_clm.dropna()

#shape after removing nul val in clm and rows
df3_drop_rows.shape

In [ ]:
plt.figure(figsize=(16,9)) 
sns.heatmap(df3_drop_rows.isnull())

Now data is clean without any missing values

In [ ]:
df3_drop_rows.isnull().sum().sum()

# Distrebution of number columns

In [ ]:
df3_drop_rows.select_dtypes(include=['int64','float64']).columns

In [ ]:
sns.displot(df['MSSubClass'])

In [ ]:
sns.displot(df['MSSubClass'])
sns.displot(df3_drop_rows['MSSubClass'])

num_vars=[ 'MSSubClass', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SalePrice']
plt.figure(figsize=(25,25))
for i, var in enumerate(num_vars):
    plt.subplot(9,4, i+1)
    sns.distplot(df[var], bins=20)
    sns.distplot(df3_drop_rows[var], bins=20)

# Load new dataset called Titanic

In [ ]:
df1=sns.load_dataset("titanic")

In [ ]:
df1.head()

In [ ]:
df1.shape

In [ ]:
df1.size

In [ ]:
pd.set_option("display.max_columns",None)  #________show all columns and rows
pd.set_option("display.max_rows",None)

In [ ]:
df1.head()

In [ ]:
df1.info()  #______what types of columns are and what they contain

In [ ]:
df1.isnull().sum()

In [ ]:
df1.isnull().sum().sum()   #____check null vals

In [ ]:
miss_val_pers=df1.isnull().sum()/df1.shape[0]*100  #_______taking % of misssing values

In [ ]:
miss_val_pers

In [ ]:
miss_val_col=miss_val_pers[miss_val_pers>20].keys() #_________drop missing columns that are >20 %

In [ ]:
df1_drop_col=df1.drop(columns=miss_val_col)

In [ ]:
df1_drop_col.shape

In [ ]:
df1_numeric=df1_drop_col.select_dtypes(include=['int64','float64']) #______select number columns

In [ ]:
df1_numeric.sample(5)

In [ ]:
df1_numeric.head()

In [ ]:
plt.figure(figsize=(20,20))
sns.heatmap(df1_numeric)    #_________heatmap show null values

In [ ]:
df1_numeric[df1_numeric.isnull().any(axis=1)] #_______check all rows that cantain nulls values

In [ ]:
df1_numeric.isnull().sum()

In [ ]:
df1_numeric.isnull().sum().sum()

In [ ]:
missing_num_val=[var for var in df1_numeric.columns if df1_numeric[var].isnull().sum()>0]  #_________drop the columns

In [ ]:
missing_num_val

In [ ]:
plt.figure(figsize=(16,16))
sns.set()
for i, var in enumerate(missing_num_val):
    plt.subplot(2,2,i+1)
    sns.histplot(df1_numeric[var], bins=20, kde_kws={'linewidth':5, 'color':'k'})

In [ ]:
df1_mean=df1_numeric.fillna(df1_numeric.mean())
df1_mean

In [ ]:
df1_mean.isnull().sum().sum()

In [ ]:
df1_median=df1_numeric.fillna(df1_numeric.median())

In [ ]:
df1_median

In [ ]:
df1_median.isnull().sum().sum()

In [ ]:
plt.figure(figsize=(16,16))
sns.set()
for i, var in enumerate(missing_num_val):
    plt.subplot(2,2,i+1)
    sns.histplot(df1_median[var], bins=20, kde=True)

In [ ]:
plt.figure(figsize=(16,16))
sns.set()
for i, var in enumerate(missing_num_val):
    plt.subplot(2,2,i+1)
    sns.histplot(df1_mean[var], bins=20,kde=True)

In [ ]:
df1_median.isnull().sum()