In [1]:
#import lab
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer as si #for impute miss val to fill
from sklearn.preprocessing import OneHotEncoder  #-----for nominal data encoding 
from sklearn.preprocessing import LabelEncoder  #---- to label them

One-hot encoding in machine learning is the conversion of categorical information into a format 
that may be fed into machine learning algorithms to improve prediction accuracy.

One-hot encoding is a common method for dealing 
with categorical data in machine learning.  (nominal data) jis data m koi order yha relationship na ho
Categorical variables must be changed in the pre-processing section since machine learning models
require numeric input variables. Nominal or ordinal data can be found in categorical data.

This approach creates a new column for each unique value in the original category column.
The zeros and ones are subsequently put in these dummy variables (1 meaning TRUE, 0 meaning FALSE)

In [2]:
df=pd.read_csv("C:\\Users\\Rizwan\\Desktop\\datasets\\Data Science Jobs Salaries.csv")  #------step 1 load data

In [3]:
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2021e,EN,FT,Data Science Consultant,54000,EUR,64369,DE,50,DE,L
1,2020,SE,FT,Data Scientist,60000,EUR,68428,GR,100,US,L
2,2021e,EX,FT,Head of Data Science,85000,USD,85000,RU,0,RU,M
3,2021e,EX,FT,Head of Data,230000,USD,230000,RU,50,RU,L
4,2021e,EN,FT,Machine Learning Engineer,125000,USD,125000,US,100,US,S
5,2021e,SE,FT,Data Analytics Manager,120000,USD,120000,US,100,US,M
6,2020,MI,FT,Research Scientist,450000,USD,450000,US,0,US,M
7,2020,MI,FT,Data Analyst,41000,EUR,46759,FR,50,FR,L
8,2020,MI,FT,Data Engineer,65000,EUR,74130,AT,50,AT,L
9,2021e,SE,FT,Data Science Engineer,159500,CAD,127543,CA,50,CA,L

In [4]:
df.tail()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
240,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
241,2021e,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
242,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
243,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
244,2021e,SE,FT,Data Science Manager,7000000,INR,94917,IN,50,IN,L

our task is to encode following data cols:
   1: experience_level
    2:company_size

# for single cols

In [5]:
pd.set_option("display.max_rows", None)  #------to check all cols and rows
pd.set_option("display.max_columns",None)

In [6]:
df.sample(7)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
150,2021e,MI,FT,Data Engineer,22000,EUR,26224,RO,0,US,L
243,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
128,2021e,EX,FT,Director of Data Science,120000,EUR,143043,DE,0,DE,L
152,2021e,MI,FT,Big Data Engineer,1672000,INR,22671,IN,0,IN,L
182,2021e,MI,FT,Machine Learning Engineer,21000,EUR,25032,SI,50,SI,L
153,2021e,MI,FT,Data Scientist,420000,INR,5695,IN,100,US,S
76,2021e,EN,FT,Data Scientist,90000,USD,90000,US,100,US,S

In [7]:
#check no of vals in cols 
df["experience_level"].value_counts()

MI    103
SE     77
EN     54
EX     11
Name: experience_level, dtype: int64

In [8]:
df["company_size"].value_counts()

L    132
S     58
M     55
Name: company_size, dtype: int64

In [9]:
#----------step2 get dummies of cat data
df_dummy=pd.get_dummies(df)
df_dummy.head()        #__________________________________it will give everry cat dummy data

,salary,salary_in_usd,remote_ratio,work_year_2020,work_year_2021e,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,employment_type_FL,employment_type_FT,employment_type_PT,job_title_3D Computer Vision Researcher,job_title_AI Scientist,job_title_Applied Data Scientist,job_title_Applied Machine Learning Scientist,job_title_BI Data Analyst,job_title_Big Data Architect,job_title_Big Data Engineer,job_title_Business Data Analyst,job_title_Cloud Data Engineer,job_title_Computer Vision Engineer,job_title_Computer Vision Software Engineer,job_title_Data Analyst,job_title_Data Analytics Engineer,job_title_Data Analytics Manager,job_title_Data Architect,job_title_Data Engineer,job_title_Data Engineering Manager,job_title_Data Science Consultant,job_title_Data Science Engineer,job_title_Data Science Manager,job_title_Data Scientist,job_title_Data Specialist,job_title_Director of Data Engineering,job_title_Director of Data Science,job_title_Finance Data Analyst,job_title_Financial Data Analyst,job_title_Head of Data,job_title_Head of Data Science,job_title_Lead Data Analyst,job_title_Lead Data Engineer,job_title_Lead Data Scientist,job_title_ML Engineer,job_title_Machine Learning Engineer,job_title_Machine Learning Infrastructure Engineer,job_title_Machine Learning Scientist,job_title_Manager Data Science,job_title_Marketing Data Analyst,job_title_Principal Data Analyst,job_title_Principal Data Engineer,job_title_Principal Data Scientist,job_title_Product Data Analyst,job_title_Research Scientist,job_title_Staff Data Scientist,salary_currency_BRL,salary_currency_CAD,salary_currency_CLP,salary_currency_CNY,salary_currency_DKK,salary_currency_EUR,salary_currency_GBP,salary_currency_HUF,salary_currency_INR,salary_currency_JPY,salary_currency_MXN,salary_currency_PLN,salary_currency_SGD,salary_currency_TRY,salary_currency_USD,employee_residence_AE,employee_residence_AT,employee_residence_BE,employee_residence_BG,employee_residence_BR,employee_residence_CA,employee_residence_CL,employee_residence_CN,employee_residence_CO,employee_residence_DE,employee_residence_DK,employee_residence_ES,employee_residence_FR,employee_residence_GB,employee_residence_GR,employee_residence_HK,employee_residence_HR,employee_residence_HU,employee_residence_IN,employee_residence_IR,employee_residence_IT,employee_residence_JE,employee_residence_JP,employee_residence_KE,employee_residence_LU,employee_residence_MD,employee_residence_MT,employee_residence_MX,employee_residence_NG,employee_residence_NL,employee_residence_NZ,employee_residence_PH,employee_residence_PK,employee_residence_PL,employee_residence_PR,employee_residence_PT,employee_residence_RO,employee_residence_RS,employee_residence_RU,employee_residence_SG,employee_residence_SI,employee_residence_TR,employee_residence_UA,employee_residence_US,employee_residence_VN,company_location_AE,company_location_AS,company_location_AT,company_location_BE,company_location_BR,company_location_CA,company_location_CH,company_location_CL,company_location_CN,company_location_CO,company_location_DE,company_location_DK,company_location_ES,company_location_FR,company_location_GB,company_location_GR,company_location_HR,company_location_HU,company_location_IL,company_location_IN,company_location_IR,company_location_IT,company_location_JP,company_location_KE,company_location_LU,company_location_MD,company_location_MT,company_location_MX,company_location_NG,company_location_NL,company_location_NZ,company_location_PK,company_location_PL,company_location_PT,company_location_RU,company_location_SG,company_location_SI,company_location_TR,company_location_UA,company_location_US,company_location_VN,company_size_L,company_size_M,company_size_S
0,54000,64369,50,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,60000,68428,100,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
2,85000,85000,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
3,230000,230000,50,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
4,125000,125000,100,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1

In [10]:
# step 3 ________________drop the first dummies 
pd.get_dummies(df,drop_first=True).head()

,salary,salary_in_usd,remote_ratio,work_year_2021e,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_FL,employment_type_FT,employment_type_PT,job_title_AI Scientist,job_title_Applied Data Scientist,job_title_Applied Machine Learning Scientist,job_title_BI Data Analyst,job_title_Big Data Architect,job_title_Big Data Engineer,job_title_Business Data Analyst,job_title_Cloud Data Engineer,job_title_Computer Vision Engineer,job_title_Computer Vision Software Engineer,job_title_Data Analyst,job_title_Data Analytics Engineer,job_title_Data Analytics Manager,job_title_Data Architect,job_title_Data Engineer,job_title_Data Engineering Manager,job_title_Data Science Consultant,job_title_Data Science Engineer,job_title_Data Science Manager,job_title_Data Scientist,job_title_Data Specialist,job_title_Director of Data Engineering,job_title_Director of Data Science,job_title_Finance Data Analyst,job_title_Financial Data Analyst,job_title_Head of Data,job_title_Head of Data Science,job_title_Lead Data Analyst,job_title_Lead Data Engineer,job_title_Lead Data Scientist,job_title_ML Engineer,job_title_Machine Learning Engineer,job_title_Machine Learning Infrastructure Engineer,job_title_Machine Learning Scientist,job_title_Manager Data Science,job_title_Marketing Data Analyst,job_title_Principal Data Analyst,job_title_Principal Data Engineer,job_title_Principal Data Scientist,job_title_Product Data Analyst,job_title_Research Scientist,job_title_Staff Data Scientist,salary_currency_CAD,salary_currency_CLP,salary_currency_CNY,salary_currency_DKK,salary_currency_EUR,salary_currency_GBP,salary_currency_HUF,salary_currency_INR,salary_currency_JPY,salary_currency_MXN,salary_currency_PLN,salary_currency_SGD,salary_currency_TRY,salary_currency_USD,employee_residence_AT,employee_residence_BE,employee_residence_BG,employee_residence_BR,employee_residence_CA,employee_residence_CL,employee_residence_CN,employee_residence_CO,employee_residence_DE,employee_residence_DK,employee_residence_ES,employee_residence_FR,employee_residence_GB,employee_residence_GR,employee_residence_HK,employee_residence_HR,employee_residence_HU,employee_residence_IN,employee_residence_IR,employee_residence_IT,employee_residence_JE,employee_residence_JP,employee_residence_KE,employee_residence_LU,employee_residence_MD,employee_residence_MT,employee_residence_MX,employee_residence_NG,employee_residence_NL,employee_residence_NZ,employee_residence_PH,employee_residence_PK,employee_residence_PL,employee_residence_PR,employee_residence_PT,employee_residence_RO,employee_residence_RS,employee_residence_RU,employee_residence_SG,employee_residence_SI,employee_residence_TR,employee_residence_UA,employee_residence_US,employee_residence_VN,company_location_AS,company_location_AT,company_location_BE,company_location_BR,company_location_CA,company_location_CH,company_location_CL,company_location_CN,company_location_CO,company_location_DE,company_location_DK,company_location_ES,company_location_FR,company_location_GB,company_location_GR,company_location_HR,company_location_HU,company_location_IL,company_location_IN,company_location_IR,company_location_IT,company_location_JP,company_location_KE,company_location_LU,company_location_MD,company_location_MT,company_location_MX,company_location_NG,company_location_NL,company_location_NZ,company_location_PK,company_location_PL,company_location_PT,company_location_RU,company_location_SG,company_location_SI,company_location_TR,company_location_UA,company_location_US,company_location_VN,company_size_M,company_size_S
0,54000,64369,50,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,60000,68428,100,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,85000,85000,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
3,230000,230000,50,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,125000,125000,100,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1

machine learning, sparsity 
refers to a matrix of numbers that includes many zeros or values that will not significantly impact a calculation.

In [11]:
#  step 4 _________________sparse the data
onh_enc=OneHotEncoder(sparse=False)

In [12]:
onh_enc

OneHotEncoder(sparse=False)

In [13]:
# step5 _______________encode cols  to arr
onh_en_arr=onh_enc.fit_transform(df[["experience_level"]])
onh_en_arr

C:\Users\Rizwan\AppData\Local\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.]])

In [14]:
df_dummy.keys()   #get all cols of dummy data

Index(['salary', 'salary_in_usd', 'remote_ratio', 'work_year_2020',
       'work_year_2021e', 'experience_level_EN', 'experience_level_EX',
       'experience_level_MI', 'experience_level_SE', 'employment_type_CT',
       ...
       'company_location_RU', 'company_location_SG', 'company_location_SI',
       'company_location_TR', 'company_location_UA', 'company_location_US',
       'company_location_VN', 'company_size_L', 'company_size_M',
       'company_size_S'],
      dtype='object', length=160)

In [15]:
#step 6 _______________making en_cod_df

#note ___________must put all cols which was encoded
en_cd_df=pd.DataFrame(onh_en_arr,columns=["experience_level_EN",'experience_level_EX','experience_level_MI','experience_level_SE'])

In [16]:
en_cd_df

,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE
0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0
3,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0
6,0.0,0.0,1.0,0.0
7,0.0,0.0,1.0,0.0
8,0.0,0.0,1.0,0.0
9,0.0,0.0,0.0,1.0
10,0.0,0.0,0.0,1.0
11,1.0,0.0,0.0,0.0
12,0.0,0.0,1.0,0.0
13,0.0,0.0,1.0,0.0
14,0.0,0.0,1.0,0.0
15,0.0,0.0,0.0,1.0
16,0.0,0.0,1.0,0.0
17,1.0,0.0,0.0,0.0
18,1.0,0.0,0.0,0.0
19,0.0,0.0,1.0,0.0
20,1.0,0.0,0.0,0.0
21,0.0,0.0,1.0,0.0
22,0.0,0.0,1.0,0.0
23,0.0,0.0,1.0,0.0
24,0.0,0.0,1.0,0.0
25,0.0,1.0,0.0,0.0
26,0.0,0.0,1.0,0.0
27,0.0,0.0,1.0,0.0
28,1.0,0.0,0.0,0.0
29,1.0,0.0,0.0,0.0
30,1.0,0.0,0.0,0.0
31,0.0,0.0,0.0,1.0
32,1.0,0.0,0.0,0.0
33,1.0,0.0,0.0,0.0
34,0.0,0.0,1.0,0.0
35,0.0,0.0,0.0,1.0
36,0.0,0.0,0.0,1.0
37,1.0,0.0,0.0,0.0
38,0.0,0.0,1.0,0.0
39,0.0,0.0,1.0,0.0
40,0.0,0.0,0.0,1.0
41,0.0,1.0,0.0,0.0
42,0.0,1.0,0.0,0.0
43,0.0,1.0,0.0,0.0
44,1.0,0.0,0.0,0.0
45,1.0,0.0,0.0,0.0
46,0.0,0.0,1.0,0.0
47,0.0,0.0,0.0,1.0
48,0.0,0.0,0.0,1.0
49,0.0,0.0,0.0,1.0
50,0.0,0.0,0.0,1.0
51,1.0,0.0,0.0,0.0
52,0.0,0.0,0.0,1.0
53,0.0,0.0,0.0,1.0
54,0.0,0.0,1.0,0.0
55,0.0,0.0,1.0,0.0
56,0.0,0.0,1.0,0.0
57,0.0,0.0,1.0,0.0
58,0.0,0.0,1.0,0.0
59,0.0,0.0,0.0,1.0
60,1.0,0.0,0.0,0.0
61,0.0,0.0,1.0,0.0
62,1.0,0.0,0.0,0.0
63,0.0,0.0,1.0,0.0
64,0.0,0.0,1.0,0.0
65,0.0,0.0,1.0,0.0
66,1.0,0.0,0.0,0.0
67,0.0,0.0,0.0,1.0
68,0.0,0.0,0.0,1.0
69,0.0,0.0,0.0,1.0
70,0.0,0.0,1.0,0.0
71,0.0,0.0,1.0,0.0
72,0.0,0.0,0.0,1.0
73,0.0,0.0,1.0,0.0
74,1.0,0.0,0.0,0.0
75,0.0,0.0,0.0,1.0
76,1.0,0.0,0.0,0.0
77,0.0,0.0,1.0,0.0
78,1.0,0.0,0.0,0.0
79,0.0,0.0,0.0,1.0
80,0.0,0.0,0.0,1.0
81,0.0,0.0,0.0,1.0
82,0.0,0.0,1.0,0.0
83,1.0,0.0,0.0,0.0
84,0.0,0.0,1.0,0.0
85,1.0,0.0,0.0,0.0
86,0.0,0.0,0.0,1.0
87,0.0,0.0,0.0,1.0
88,0.0,0.0,1.0,0.0
89,0.0,0.0,0.0,1.0
90,1.0,0.0,0.0,0.0
91,1.0,0.0,0.0,0.0
92,0.0,0.0,1.0,0.0
93,0.0,0.0,1.0,0.0
94,0.0,0.0,0.0,1.0
95,0.0,0.0,1.0,0.0
96,0.0,0.0,1.0,0.0
97,0.0,0.0,0.0,1.0
98,0.0,0.0,0.0,1.0
99,0.0,0.0,0.0,1.0
100,0.0,0.0,0.0,1.0
101,0.0,0.0,1.0,0.0
102,0.0,0.0,1.0,0.0
103,1.0,0.0,0.0,0.0
104,0.0,0.0,0.0,1.0
105,0.0,0.0,1.0,0.0
106,1.0,0.0,0.0,0.0
107,0.0,0.0,1.0,0.0
108,0.0,0.0,0.0,1.0
109,0.0,0.0,0.0,1.0
110,0.0,0.0,0.0,1.0
111,1.0,0.0,0.0,0.0
112,1.0,0.0,0.0,0.0
113,0.0,0.0,0.0,1.0
114,1.0,0.0,0.0,0.0
115,1.0,0.0,0.0,0.0
116,0.0,0.0,0.0,1.0
117,1.0,0.0,0.0,0.0
118,1.0,0.0,0.0,0.0
119,0.0,0.0,1.0,0.0
120,0.0,0.0,1.0,0.0
121,0.0,0.0,1.0,0.0
122,0.0,0.0,0.0,1.0
123,0.0,0.0,1.0,0.0
124,0.0,0.0,0.0,1.0
125,0.0,0.0,1.0,0.0
126,0.0,0.0,0.0,1.0
127,0.0,0.0,0.0,1.0
128,0.0,1.0,0.0,0.0
129,1.0,0.0,0.0,0.0
130,0.0,0.0,0.0,1.0
131,0.0,0.0,1.0,0.0
132,0.0,0.0,0.0,1.0
133,1.0,0.0,0.0,0.0
134,0.0,0.0,0.0,1.0
135,0.0,0.0,0.0,1.0
136,1.0,0.0,0.0,0.0
137,0.0,0.0,1.0,0.0
138,0.0,0.0,0.0,1.0
139,0.0,0.0,0.0,1.0
140,0.0,0.0,1.0,0.0
141,1.0,0.0,0.0,0.0
142,0.0,0.0,0.0,1.0
143,1.0,0.0,0.0,0.0
144,0.0,0.0,1.0,0.0
145,0.0,1.0,0.0,0.0
146,0.0,0.0,0.0,1.0
147,0.0,0.0,1.0,0.0
148,1.0,0.0,0.0,0.0
149,0.0,0.0,1.0,0.0
150,0.0,0.0,1.0,0.0
151,0.0,0.0,1.0,0.0
152,0.0,0.0,1.0,0.0
153,0.0,0.0,1.0,0.0
154,1.0,0.0,0.0,0.0
155,0.0,0.0,1.0,0.0
156,0.0,0.0,1.0,0.0
157,1.0,0.0,0.0,0.0
158,0.0,0.0,1.0,0.0
159,0.0,0.0,0.0,1.0
160,0.0,0.0,1.0,0.0
161,0.0,0.0,1.0,0.0
162,0.0,1.0,0.0,0.0
163,0.0,0.0,0.0,1.0
164,0.0,0.0,1.0,0.0
165,0.0,0.0,1.0,0.0
166,0.0,0.0,1.0,0.0
167,0.0,0.0,1.0,0.0
168,0.0,0.0,1.0,0.0
169,1.0,0.0,0.0,0.0
170,0.0,0.0,0.0,1.0
171,0.0,0.0,1.0,0.0
172,1.0,0.0,0.0,0.0
173,0.0,0.0,1.0,0.0
174,1.0,0.0,0.0,0.0
175,0.0,0.0,1.0,0.0
176,0.0,0.0,1.0,0.0
177,0.0,0.0,1.0,0.0
178,0.0,0.0,0.0,1.0
179,0.0,0.0,1.0,0.0
180,0.0,0.0,1.0,0.0
181,0.0,0.0,1.0,0.0
182,0.0,0.0,1.0,0.0
183,0.0,0.0,0.0,1.0
184,0.0,0.0,1.0,0.0
185,0.0,1.0,0.0,0.0
186,0.0,0.0,0.0,1.0
187,1.0,0.0,0.0,0.0
188,0.0,0.0,1.0,0.0
189,0.0,0.0,0.0,1.0
190,0.0,0.0,1.0,0.0
191,0.0,1.0,0.0,0.0
192,0.0,0.0,1.0,0.0
193,0.0,0.0,0.0,1.0
194,1.0,0.0,0.0,0.0
195,0.0,0.0,1.0,0.0
196,0.0,0.0,0.0,1.0
197,1.0,0.0,0.0,0.0
198,0.0,0.0,1.0,0.0
199,1.0,0.0,0.0,0.0
200,0.0,0.0,1.0,0.0
201,0.0,0.0,0.0,1.0
202,0.0,0.0,0.0,1.0
203,0.0,0.0,0.0,1.0
204,0.0,0.0,0.0,1.0
205,0.0,0.0,1.0,0.0
206,0.0,0.0,0.0,1.0
207,0.0,0.0,1.0,0.0
208,0.0,0.0,0.0,1.0
209,0.0,0.0,1.0,0.0
210,0.0,0.0,0.0,1.0
211,0.0,0.0,1.0,0.0
212,0.0,0.0,0.0,1.0
213,1.0,0.0,0.0,0.0
214,0.0,0.0,0.0,1.0
215,0.0,0.0,0.0,1.0
216,0.0,0.0,1.0,0.0
217,0.0,0.0,1.0,0.0
218,1.0,0.0,0.0,0.0
219,1.0,0.0,0.0,0.0
220,0.0,0.0,0.0,1.0
221,0.0,0.0,1.0,0.0
222,0.0,0.0,1.0,0.0
223,0.0,0.0,0.0,1.0
224,0.0,0.0,1.0,0.0
225,1.0,0.0,0.0,0.0
226,0.0,0.0,1.0,0.0
227,0.0,0.0,1.0,0.0
228,0.0,0.0,1.0,0.0
229,0.0,0.0,1.0,0.0
230,0.0,0.0,0.0,1.0
231,0.0,0.0,1.0,0.0
232,0.0,0.0,1.0,0.0
233,0.0,0.0,1.0,0.0
234,0.0,0.0,0.0,1.0
235,0.0,0.0,0.0,1.0
236,0.0,0.0,1.0,0.0
237,0.0,0.0,1.0,0.0
238,0.0,0.0,1.0,0.0
239,0.0,0.0,0.0,1.0
240,0.0,0.0,0.0,1.0
241,0.0,0.0,1.0,0.0
242,1.0,0.0,0.0,0.0
243,1.0,0.0,0.0,0.0
244,0.0,0.0,0.0,1.0

In [17]:
df1=df[["experience_level"]]

In [18]:
#step 7 ___________encode them 
le=LabelEncoder()
le.fit_transform(df1[["experience_level"]])

C:\Users\Rizwan\AppData\Local\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 3, 1, 1, 0, 3, 2, 2, 2, 3, 3, 0, 2, 2, 2, 3, 2, 0, 0, 2, 0, 2,
       2, 2, 2, 1, 2, 2, 0, 0, 0, 3, 0, 0, 2, 3, 3, 0, 2, 2, 3, 1, 1, 1,
       0, 0, 2, 3, 3, 3, 3, 0, 3, 3, 2, 2, 2, 2, 2, 3, 0, 2, 0, 2, 2, 2,
       0, 3, 3, 3, 2, 2, 3, 2, 0, 3, 0, 2, 0, 3, 3, 3, 2, 0, 2, 0, 3, 3,
       2, 3, 0, 0, 2, 2, 3, 2, 2, 3, 3, 3, 3, 2, 2, 0, 3, 2, 0, 2, 3, 3,
       3, 0, 0, 3, 0, 0, 3, 0, 0, 2, 2, 2, 3, 2, 3, 2, 3, 3, 1, 0, 3, 2,
       3, 0, 3, 3, 0, 2, 3, 3, 2, 0, 3, 0, 2, 1, 3, 2, 0, 2, 2, 2, 2, 2,
       0, 2, 2, 0, 2, 3, 2, 2, 1, 3, 2, 2, 2, 2, 2, 0, 3, 2, 0, 2, 0, 2,
       2, 2, 3, 2, 2, 2, 2, 3, 2, 1, 3, 0, 2, 3, 2, 1, 2, 3, 0, 2, 3, 0,
       2, 0, 2, 3, 3, 3, 3, 2, 3, 2, 3, 2, 3, 2, 3, 0, 3, 3, 2, 2, 0, 0,
       3, 2, 2, 3, 2, 0, 2, 2, 2, 2, 3, 2, 2, 2, 3, 3, 2, 2, 2, 3, 3, 2,
       0, 0, 3])

In [19]:
df1["lab_enc"]=le.fit_transform(df1[["experience_level"]])    #put into var  and make new col

C:\Users\Rizwan\AppData\Local\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rizwan\AppData\Local\Temp\ipykernel_6684\1936837219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["lab_enc"]=le.fit_transform(df1[["experience_level"]])    #put into var  and make new col

In [20]:
df1.head(6)

  experience_level  lab_enc
0               EN        0
1               SE        3
2               EX        1
3               EX        1
4               EN        0
5               SE        3

In [21]:
df1.value_counts()

experience_level  lab_enc
MI                2          103
SE                3           77
EN                0           54
EX                1           11
dtype: int64

In [22]:
#step 8 ______________order the enc by yoour self
order_label={"MI":1,"SE":2,'EN':3,"EX":4}

In [23]:
df1["order_label_enc"]=df1["experience_level"].map(order_label)

C:\Users\Rizwan\AppData\Local\Temp\ipykernel_6684\2794903386.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["order_label_enc"]=df1["experience_level"].map(order_label)

In [24]:
df1.head(7)

  experience_level  lab_enc  order_label_enc
0               EN        0                3
1               SE        3                2
2               EX        1                4
3               EX        1                4
4               EN        0                3
5               SE        3                2
6               MI        2                1

# for multi cols

note :
    just put all cols in list and call them

In [25]:
onh_en_arr1=onh_enc.fit_transform(df[["experience_level","company_size"]])
onh_en_arr1

C:\Users\Rizwan\AppData\Local\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[1., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [26]:
df_dummy.keys()

Index(['salary', 'salary_in_usd', 'remote_ratio', 'work_year_2020',
       'work_year_2021e', 'experience_level_EN', 'experience_level_EX',
       'experience_level_MI', 'experience_level_SE', 'employment_type_CT',
       ...
       'company_location_RU', 'company_location_SG', 'company_location_SI',
       'company_location_TR', 'company_location_UA', 'company_location_US',
       'company_location_VN', 'company_size_L', 'company_size_M',
       'company_size_S'],
      dtype='object', length=160)

In [27]:
#step 6 _______________making en_cod_df

#note ___________must put all cols which was encoded
en_cd_df1=pd.DataFrame(onh_en_arr1,columns=["experience_level_EN",'experience_level_EX','experience_level_MI',
                                            'experience_level_SE',
                                          'company_size_L', 'company_size_M','company_size_S'])

In [28]:
en_cd_df1.head(7)

,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,company_size_L,company_size_M,company_size_S
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,1.0
5,0.0,0.0,0.0,1.0,0.0,1.0,0.0
6,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [29]:
df2=df[["experience_level","company_size"]]

In [30]:
#step 7 ___________encode them 
le=LabelEncoder()
le.fit_transform(df2["experience_level"])

array([0, 3, 1, 1, 0, 3, 2, 2, 2, 3, 3, 0, 2, 2, 2, 3, 2, 0, 0, 2, 0, 2,
       2, 2, 2, 1, 2, 2, 0, 0, 0, 3, 0, 0, 2, 3, 3, 0, 2, 2, 3, 1, 1, 1,
       0, 0, 2, 3, 3, 3, 3, 0, 3, 3, 2, 2, 2, 2, 2, 3, 0, 2, 0, 2, 2, 2,
       0, 3, 3, 3, 2, 2, 3, 2, 0, 3, 0, 2, 0, 3, 3, 3, 2, 0, 2, 0, 3, 3,
       2, 3, 0, 0, 2, 2, 3, 2, 2, 3, 3, 3, 3, 2, 2, 0, 3, 2, 0, 2, 3, 3,
       3, 0, 0, 3, 0, 0, 3, 0, 0, 2, 2, 2, 3, 2, 3, 2, 3, 3, 1, 0, 3, 2,
       3, 0, 3, 3, 0, 2, 3, 3, 2, 0, 3, 0, 2, 1, 3, 2, 0, 2, 2, 2, 2, 2,
       0, 2, 2, 0, 2, 3, 2, 2, 1, 3, 2, 2, 2, 2, 2, 0, 3, 2, 0, 2, 0, 2,
       2, 2, 3, 2, 2, 2, 2, 3, 2, 1, 3, 0, 2, 3, 2, 1, 2, 3, 0, 2, 3, 0,
       2, 0, 2, 3, 3, 3, 3, 2, 3, 2, 3, 2, 3, 2, 3, 0, 3, 3, 2, 2, 0, 0,
       3, 2, 2, 3, 2, 0, 2, 2, 2, 2, 3, 2, 2, 2, 3, 3, 2, 2, 2, 3, 3, 2,
       0, 0, 3])

In [31]:
df2["company_size_enc"]=le.fit_transform(df2["company_size"])

C:\Users\Rizwan\AppData\Local\Temp\ipykernel_6684\516968264.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["company_size_enc"]=le.fit_transform(df2["company_size"])

In [32]:
df2.head(7)

  experience_level company_size  company_size_enc
0               EN            L                 0
1               SE            L                 0
2               EX            M                 1
3               EX            L                 0
4               EN            S                 2
5               SE            M                 1
6               MI            M                 1

In [33]:
df2["experience_level_enc"]=le.fit_transform(df2["experience_level"])
df2.head(9)

C:\Users\Rizwan\AppData\Local\Temp\ipykernel_6684\1908238630.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["experience_level_enc"]=le.fit_transform(df2["experience_level"])

  experience_level company_size  company_size_enc  experience_level_enc
0               EN            L                 0                     0
1               SE            L                 0                     3
2               EX            M                 1                     1
3               EX            L                 0                     1
4               EN            S                 2                     0
5               SE            M                 1                     3
6               MI            M                 1                     2
7               MI            L                 0                     2
8               MI            L                 0                     2

In [34]:
df2["experience_level"].value_counts()

MI    103
SE     77
EN     54
EX     11
Name: experience_level, dtype: int64

In [35]:
df2["company_size"].value_counts()

L    132
S     58
M     55
Name: company_size, dtype: int64

In [36]:
#step 8 ______________order the enc by yoour self
order_label={"M":2,"S":3,"L":1}

In [37]:
df2["order_label_enc"]=df2["company_size"].map(order_label)

C:\Users\Rizwan\AppData\Local\Temp\ipykernel_6684\2649434630.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["order_label_enc"]=df2["company_size"].map(order_label)

In [38]:
df2.head(9)

,experience_level,company_size,company_size_enc,experience_level_enc,order_label_enc
0,EN,L,0,0,1
1,SE,L,0,3,1
2,EX,M,1,1,2
3,EX,L,0,1,1
4,EN,S,2,0,3
5,SE,M,1,3,2
6,MI,M,1,2,2
7,MI,L,0,2,1
8,MI,L,0,2,1

In [39]:
order_label1={"MI":0,"SE":1,"EN":2,"EX":3}

In [40]:
df2["order_label_enc_exp"]=df2["experience_level"].map(order_label1)

C:\Users\Rizwan\AppData\Local\Temp\ipykernel_6684\400163309.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["order_label_enc_exp"]=df2["experience_level"].map(order_label1)

In [41]:
df2.head(9)

,experience_level,company_size,company_size_enc,experience_level_enc,order_label_enc,order_label_enc_exp
0,EN,L,0,0,1,2
1,SE,L,0,3,1,1
2,EX,M,1,1,2,3
3,EX,L,0,1,1,3
4,EN,S,2,0,3,2
5,SE,M,1,3,2,1
6,MI,M,1,2,2,0
7,MI,L,0,2,1,0
8,MI,L,0,2,1,0

In [42]:
df3=df[["salary_currency","employment_type"]]

In [43]:
df3["employment_type_enc"]=le.fit_transform(df["employment_type"])

C:\Users\Rizwan\AppData\Local\Temp\ipykernel_6684\756673247.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["employment_type_enc"]=le.fit_transform(df["employment_type"])

In [44]:
df3.head(9)

  salary_currency employment_type  employment_type_enc
0             EUR              FT                    2
1             EUR              FT                    2
2             USD              FT                    2
3             USD              FT                    2
4             USD              FT                    2
5             USD              FT                    2
6             USD              FT                    2
7             EUR              FT                    2
8             EUR              FT                    2

In [45]:
df["employment_type"].value_counts()

FT    231
PT      7
CT      4
FL      3
Name: employment_type, dtype: int64

In [46]:
df["salary_currency"].value_counts()

USD    126
EUR     57
INR     21
GBP     13
CAD     10
TRY      3
PLN      2
HUF      2
SGD      2
MXN      2
DKK      2
BRL      2
CLP      1
JPY      1
CNY      1
Name: salary_currency, dtype: int64

In [47]:
order_label_emp={"FT":0,"PT":1,"CT":2,"FL":3}

order_label_salary={"USD":0,"EUR":1,"INR":2,"GBP":3,"CAD":4,"TRY":5,"PLN":6,"HUF":7,"SGD":8,
                   "MXN":9,"DKK":10,"BRL":11,"CLP":12,"JPY":13,"CNY":14 }

In [48]:
df3["emp_order_label"]=df3["employment_type"].map(order_label_emp)

C:\Users\Rizwan\AppData\Local\Temp\ipykernel_6684\3813247292.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["emp_order_label"]=df3["employment_type"].map(order_label_emp)

In [49]:
df3.head(9)

  salary_currency employment_type  employment_type_enc  emp_order_label
0             EUR              FT                    2                0
1             EUR              FT                    2                0
2             USD              FT                    2                0
3             USD              FT                    2                0
4             USD              FT                    2                0
5             USD              FT                    2                0
6             USD              FT                    2                0
7             EUR              FT                    2                0
8             EUR              FT                    2                0

In [50]:
df3["salary_currency_enc"]=le.fit_transform(df["salary_currency"])

C:\Users\Rizwan\AppData\Local\Temp\ipykernel_6684\491484748.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["salary_currency_enc"]=le.fit_transform(df["salary_currency"])

In [51]:
df3["salary_order_label"]=df3["salary_currency"].map(order_label_salary)

C:\Users\Rizwan\AppData\Local\Temp\ipykernel_6684\2888425682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["salary_order_label"]=df3["salary_currency"].map(order_label_salary)

In [52]:
df3.head(7)

,salary_currency,employment_type,employment_type_enc,emp_order_label,salary_currency_enc,salary_order_label
0,EUR,FT,2,0,5,1
1,EUR,FT,2,0,5,1
2,USD,FT,2,0,14,0
3,USD,FT,2,0,14,0
4,USD,FT,2,0,14,0
5,USD,FT,2,0,14,0
6,USD,FT,2,0,14,0

In [53]:
onh_enc.categories_

[array(['EN', 'EX', 'MI', 'SE'], dtype=object),
 array(['L', 'M', 'S'], dtype=object)]